@font-face {
    font-family: 'Circe';
    src: local('Circe Regular'), local('../fonts/Circe-Regular'),
        url('../fonts/Circe-Regular.woff2') format('woff2'),
        url('../fonts/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Circe';
    src: local('../fonts/Circe Bold'), local('Circe-Bold'),
        url('../fonts/Circe-Bold.woff2') format('woff2'),
        url('../fonts/Circe-Bold.woff') format('woff'),
        url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
.arrow:after {
 content:url("data:image/svg+xml,%3csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M12.01 3.65891H0V5.81888H12.01V9.05884L16 4.73889L12.01 0.418945V3.65891Z' fill='white'/%3e %3c/svg%3e")
}
.icon_dot:after {
 content:url("data:image/svg+xml,%3csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M4.8685 0.569176L0 5L4.8685 9.43082L9.737 5L4.8685 0.569176Z' fill='%23FE5F5F'/%3e %3c/svg%3e")
}
.icon_online_assistant:after {
 content:url("data:image/svg+xml,%3csvg width='14' height='21' viewBox='0 0 14 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M4.21252 17.1522L5.97124 20.4321H5.99567L7.77881 17.1522L5.99567 15.5769L4.21252 17.1522Z' fill='white'/%3e %3cpath d='M5.99567 1.58081C5.60484 1.75202 0.670654 4.04191 0.670654 7.70146C0.670654 10.826 3.57743 15.577 3.57743 15.577L5.99567 13.4583L8.41391 15.577C8.41391 15.577 11.3207 10.8474 11.3207 7.70146C11.2963 4.04191 6.36207 1.75202 5.99567 1.58081ZM7.5834 12.0244L5.99567 10.6334L4.40793 12.0244C4.33465 11.8318 3.25988 9.30652 3.25988 7.65865C3.25988 5.43296 5.80025 4.19172 5.99567 4.10611C6.19108 4.17031 8.73145 5.43296 8.73145 7.65865C8.73145 9.30652 7.65668 11.8318 7.5834 12.0244Z' fill='white'/%3e %3cpath d='M11.3092 -5.14109e-05L9.49561 1.58887L11.3092 3.17779L13.1228 1.58887L11.3092 -5.14109e-05Z' fill='white'/%3e %3cpath d='M7.26575 7.61443C7.26575 8.21864 6.70392 8.71495 6.01996 8.71495C5.336 8.71495 4.77417 8.21864 4.77417 7.61443C4.77417 7.01023 5.336 6.51392 6.01996 6.51392C6.70392 6.51392 7.26575 7.01023 7.26575 7.61443Z' fill='white'/%3e %3c/svg%3e")
}
.icon_label:after {
 content:url("data:image/svg+xml,%3csvg width='46' height='33' viewBox='0 0 46 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3cpath d='M0.0317415 25.3278L7.11826 32.4189L14.2048 25.3278L7.11827 18.2366L0.0317415 25.3278Z' fill='%23FE5F5F'/%3e %3cpath d='M8.92492 16.4631L16.0115 23.5542L23.0981 16.4631L16.0115 9.37206L8.92492 16.4631Z' fill='%23FE5F5F'/%3e %3cpath d='M2.6607e-07 7.51047L7.08649 14.6017L14.173 7.51047L7.0865 0.419285L2.6607e-07 7.51047Z' fill='%23FE5F5F'/%3e %3cpath d='M22.6081 25.3278L29.6946 32.4189L36.7811 25.3278L29.6946 18.2366L22.6081 25.3278Z' fill='%23FE5F5F'/%3e %3cpath d='M31.5013 16.4631L38.5879 23.5542L45.6745 16.4631L38.5879 9.37206L31.5013 16.4631Z' fill='%23FE5F5F'/%3e %3cpath d='M22.5762 7.51047L29.6627 14.6017L36.7492 7.51047L29.6627 0.419285L22.5762 7.51047Z' fill='%23FE5F5F'/%3e %3c/svg%3e")
}